<div class="ui card">
  <div class="image">
    {{#if @image}}
      <img class="ui avatar image" src={{@image}}>
    {{else}}
      <img class=""
           src="https://www.publicdomainpictures.net/pictures/280000/velka/not-found-image-15383864787lu.jpg">
    {{/if}}
  </div>
  <div class="content">
    <a class="header">{{@name}}</a>
    <div class="description">{{@comment}}</div>
  </div>
</div>
