<div class="ui inverted segment">
  <div class="ui inverted relaxed divided list" style="display: flex; flex-direction: row;">
    <a class="title">{{@name}}</a>
    <a class="ui button red" style="margin-left: auto;" {{action "supprimer" @model @id}}>Supprimer</a>
  </div>
  <p class="short-description">{{@description}}</p>
</div>
{{yield}}
