{{page-title "Delete"}}
<div style="background-color: forestgreen; opacity: 80%; width: max-content; margin: 0 auto 1% auto;">
  <h1 class="negative">VOULEZ VOUS VRAIMENT SUPPRIMER CETTE SECTION ET LES {{model.products.length}} PRODUITS QU'ELLE CONTIENT ?</h1>
  <button class="ui button negative" {{action "supprimer"}}>SUPPRIMER</button>
</div>
{{outlet}}