{{page-title "TD1"}}

<div style="background-color: forestgreen;">
  <div class="inverted green">
    <div class="ui inverted green menu">
      <div class="item active">
        Tableau de bord
      </div>
      <div class="right floated menu">
        <a class="item">
          Se déconnecter
        </a>
      </div>
    </div>
  </div>
{{outlet}}
</div>
