{{page-title "Index"}}

<div style="display: flex; flex-flow: row nowrap;">

<div class="ui card" style="width: 10%; margin: auto;">
  <div {{action "openSection"}}>
    <img src="https://www.lavantgardiste.com/25076-thickbox_default/petit-pot-a-fleur-en-terre-cuite.jpg"
         style="width: 100%; height: auto;" />
    <h4>Sections</h4>
    <p>Pour gérer vos sections</p>
  </div>
</div>

<div class="ui card" style="width: 10%; margin: auto;">
  <div>
    <img src="https://www.lavantgardiste.com/25076-thickbox_default/petit-pot-a-fleur-en-terre-cuite.jpg"
         style="width: 100%; height: auto;" />
    <h4>Sections</h4>
    <p>Pour gérer vos sections</p>
  </div>
</div>

</div>

{{outlet}}
