{{page-title "Login"}}

<div style="display: flex; flex-flow: column nowrap;">
  <label for="utilisateur" style="width: max-content; margin: auto;">Nom d'utilisateur</label>
  <input id="utilisateur" type="text" style="width: max-content; margin: auto;">

  <label for="pass" style="width: max-content; margin: auto;">Mot de passe</label>
  <input type="password" style="width: max-content; margin: auto;">

  <input type="submit" style="width: max-content; margin: auto;">
</div>

{{outlet}}
