{{page-title "TestNew"}}
<div class="container">
  <form {{action "save" a b c}}>
    <label>
      Nom :
      <input type="text" value="nom"/>
    </label>
    <label>
      Prenom :
      <input type="text" value="prenom"/>
    </label>
    <label>
      Mail :
      <input type="text" value="mail"/>
    </label>
    <br/>
    <button type="submit">Valider</button>
  </form>
</div>
{{outlet}}